<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> FLASK APP</title>
</head>
<body>
    <h1> FLASK APP CONTACTS PAGE</h1>
    <p> This is a simple flask app</p>
    <!-- Another way of creating links in flask app using function name --> 
    <nav>
    <a href="{{url_for('index')}}">Home</a>
    <a href="{{url_for('about_page')}}">About</a>
    <a href="{{url_for('contacts_page')}}">Contact</a>
    <a href="{{url_for('login_page')}}">Login</a>
    </nav>
</body>
</html>