<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> FLASK APP</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {% if title %}
    <h1> FLASK APP {{title}} PAGE</h1>
    {% else %}
    <h1> FLASK APP</h1>
    {% endif %}
    <p> This is a simple flask app</p>
    <!-- Another way of creating links in flask app using function name --> 
    <nav>
    <a href="{{url_for('index')}}">Home</a>
    <a href="{{url_for('about_page')}}">About</a>
    <a href="{{url_for('contacts_page')}}">Contact</a>
    <a href="{{url_for('login_page')}}">Login</a>
    </nav>
    {% block content%}
    {% endblock %}
</body>
</html>